body {background-image: linear-gradient(white, white, #e6f2ff, #cce6ff, #b3d9ff, #99ccff,  #80bfff, 
#66b3ff, #4da6ff, #3399ff, #1a8cff,  #0080ff, #0073e6, #0066cc, #0059b3, #003366); 
background-repeat: repeat; 
height: 100%;
min-height:100%;
background-attachment: fixed;
font-family: "Trebuchet MS", Helvetica, sans-serif;}

h1 {border: 5px solid;
border-width: thin;
border-radius: 8px;
border-color : #0431B4;
padding:2px;
padding-left:20px;}

img {height:100px;} 

ul {list-style-type: none;}

a {text-decoration:none;
   color:black;}

.center {text-align:center;
display: block;
  margin-left: auto;
  margin-right: auto;}

header {border-bottom-style : outset;
border-right-style : outset;
border-radius: 8px;
border-color : #0431B4;
height:50px;
display: flex;
justify-content: center;}

#logo {position: absolute;
	top: 0.5em;
	left: 1%;
	height:45px;}

#account {font-size:0.8em;}

#search {text-align: center;
padding-top:0.7em;}

#cart {position: absolute;
	top: 0.5em;
	right: 1%;
	height:45px;}


nav ul {list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  position: fixed;
  height: 100%;
  overflow: auto;}

nav ul li a {display: block;
  padding: 8px 16px;
  text-decoration: none;}
 
nav ul li a.active {color: black;}

nav ul li a:hover:not(.active) {color: darkblue;
  font-weight:bold;}



main {margin-left: 10%;
  padding: 1px 16px;
  height: 1000px;
  overflow: auto;}

main ul li {display: inline;}

main h2 {padding-top: 10px;}

main p {padding-left:38px;}
   
footer {bottom: 0;
    height: 3em;
    left: 0;
    position: relative; 
    width:100%;}

footer ul li {
display:inline;
margin: auto;
padding: 2px;}

footer small {display:inline;
margin: auto;
padding: 1%;
float: right;}

footer a:hover {text-decoration:underline;}


@media screen and (max-width: 900px) 
{
  nav ul {width: 100%;
    	  height: auto;
   		  position: relative;}
  	
  nav ul li a {float: left;
			   padding: 15px;}
  
main {margin-left: 0;}
}

@media screen and (max-width: 400px) 
{
  nav ul li a {text-align: center;
    				float: none;}
}

nav select {display: none;}

@media (max-width: 550px) 
{
  nav ul {display: none;}
  nav select {display: inline-block;
  			  padding:0.5em;}
}

