body {background-image: linear-gradient(white, white, #e6f2ff, #cce6ff, #b3d9ff, #99ccff,  #80bfff, 
#66b3ff, #4da6ff, #3399ff, #1a8cff,  #0080ff, #0073e6, #0066cc, #0059b3, #003366); 
background-repeat: repeat; 
height: 100%;
min-height:100%;
background-attachment: fixed;
font-family: Sans-serif;}

header {border-bottom-style : outset;
border-right-style : outset;
border-radius: 10px;
border-color : #0431B4;
height:50px;
display: flex;
justify-content: center;}

#logo {position: absolute;
	top: 0.5em;
	left: 1%;
	height:33px;}

#account {font-size:0.8em;}

#search {text-align: center;
padding-top:0.7em;
}

#cart {position: absolute;
	top: 0.5em;
	right: 1%;
	height:45px;}

nav ul {list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  position: fixed;
  height: 100%;
  overflow: auto;}

nav ul li a {display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;}
 
nav ul li a.active {color: black;}

nav ul li a:hover:not(.active) {color: darkblue;
  font-weight:bold;}

main {margin-left: 20%;
  padding: 1px 16px;
  height: 1000px;}

@media screen and (max-width: 900px) 
{
  nav ul {width: 100%;
    	  height: auto;
   		  position: relative;}
  	
  nav ul li a {float: left;
			   padding: 15px;}
  
main {margin-left: 0;}
}

@media screen and (max-width: 400px) 
{
  ul.sidenav li a {text-align: center;
    				float: none;}
}

img{height:100px;} 

ul {list-style-type: none;}

footer ul li {
display:inline;
margin: auto;
padding: 2px;}

footer small {display:inline;
margin: auto;
padding: 1%;
float: right;}

footer a:hover {text-decoration:underline;}

footer {padding: 20px;
  text-align: center;}

.alignimg {position: inline;}

a {text-decoration:none;
   color:black;}
